<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eliagbenu.switchdatingapp" >

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <application
        android:name=".controller.AppController"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/SwitchTheme" >
        <activity
            android:name=".views.Splash"
            android:label="@string/app_name"
            android:theme="@style/SwitchTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.Suitors"
            android:label="@string/title_activity_suitors" >
        </activity>
        <activity
            android:name=".views.Onboarding"
            android:label="@string/welcome"
            android:theme="@style/SwitchTheme" >
        </activity>
        <activity
            android:name=".views.ScreenSlideActivity"
            android:label="@string/title_screen_slide" >
        </activity>
        <activity
            android:name=".views.Signup"
            android:label="@string/title_activity_signup" >
        </activity>
        <activity
            android:name=".views.Profile"
            android:label="@string/title_activity_profile" >
        </activity>
        <activity
            android:name=".views.Login"
            android:label="@string/title_activity_signin" >
        </activity>
        <activity
            android:name=".views.Questions"
            android:label="@string/title_activity_questions" >
        </activity>
        <activity
            android:name=".views.MoreDetails"
            android:label="@string/title_activity_more_details" >
        </activity>
        <activity
            android:name=".views.Initial"
            android:label="@string/title_activity_initial" >
        </activity>
    </application>

</manifest>
